# Gitignore for config repo stored in .dotfiles (using core.worktree "../../")

# Ignore everything except self by default
*
!.gitignore
# Allow recursing into subdirs but don't allow any specific files at this point
!*/

# Allow whole nvim dir like normal
!nvim
!nvim/**
